@import 'global';

/* News MPI */
.title-section{
	position: relative;
	padding: 16px 0px;
	margin-bottom: 8px;
	
	span{
		position: relative;
		font-family: $roboto-med;
		font-size: 24px;
		color: #282828;
		z-index: 2;
	}
		
	&:before{
		position: absolute;
		left: 0px;
		bottom: 0px;
		content: url('../images/red.png');
	}

	a{
		font-family: $roboto-med;
		font-size: 16px;
		padding: 4px 8px;
		color: #084d8d;
		border-radius: 10px;
		border: 1.5px solid #084d8d;
		float: right;
		transition: $trans-hover;

		&:hover{
			background-color: #084d8d;
			color: #fff;
		}
	}
}

.mpi{
	padding: 0px 25px;
}

.warp-list-news-mpi{
	display: flex;
	flex-wrap: wrap;
	position: relative;

	.swiper-slide{
		width: 200px !important;
	}

	.swiper-button-next, .swiper-button-prev{
		visibility: hidden;
		opacity: 0;
		transition: $trans-hover;
		outline: none;
		z-index: 50 !important;
	}

	&:hover .swiper-button-next{
		visibility: visible;
		opacity: 1;
		transition: $trans-hover;
	}

	&:hover .swiper-button-prev{
		visibility: visible;
		opacity: 1;
		transition: $trans-hover;
	}

	.swiper-button-next::after, .swiper-button-prev::after{
		font-size: 13px;
		background-color: #fff;
		box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
		padding: 9px 12px;
		border-radius: 100px;
		font-weight: bold;
		color: #000;
	}

	.swiper-button-next, .swiper-rtl .swiper-button-prev{
		right: -10px;
		left: auto;
	}

	.swiper-button-prev, .swiper-rtl .swiper-button-next{
		left: -10px;
		right: auto;
	}
}

.list-news-mpi{
	width: 200px;

	&:hover .img-news-mpi img{
		transform: scale(1.2);
	}

	&:hover a{
		color: $color-primary;
	}
}

.img-news-mpi{
	width: 200px;
	height: 130px;
	overflow: hidden;
	border-radius: 4px;

	img{
		width: 200px;
		height: 130px;
		object-fit: cover;
		border-radius: 4px;
		transition: transform .3s;
	}
}

.logo-news-mpi{
	margin-bottom: 8px;

	img{
		width: auto;
		height: 31px;
		margin: auto;
		display: block;
	}
}

.logo-news-mpi-sports{
	img{
		height: 23px !important;
		margin: 6px auto 10px;
	}
}

.title-news-mpi{
	margin-top: 8px;

	a{
		font-family: $roboto-bold;
		font-size: 14px;
		color: #515150;
	}
}