@import 'global';

/* News MPI */
.title-section{
	position: relative;
	padding: 16px 0px;
	margin-bottom: 8px;
	
	span{
		position: relative;
		font-family: $roboto-med;
		font-size: 18px;
		color: #282828;
		z-index: 2;
	}
		
	&:before{
		content: url('../images/red.png');
		position: absolute;
		left: 0px;
		bottom: 0px;
	}

	a{
		font-family: $roboto-med;
		font-size: 16px;
		padding: 4px 8px;
		color: #084d8d;
		border-radius: 10px;
		border: 1.5px solid #084d8d;
		float: right;
	}
}

.mpi{
	width: 100%;
}

.list-news-mpi{
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 22px;

	&:last-child{
		margin-bottom: 0px;
	}
}

.img-news-mpi{
	width: 84px;
	height: 84px;

	img{
		width: 84px;
		height: 84px;
		border-radius: 8px;
		object-fit: cover
	}
}

.warp-title-news-mpi{
	width: calc(100% - 84px);
	padding-left: 12px;
}

.logo-news-mpi{
	margin-bottom: 4px;

	img{
		width: auto;
		height: 20px;
	}
}

.logo-news-mpi-sports{
	img{
		height: 16px !important;
	}
}

.title-news-mpi{
	a{
		font-family: $roboto-bold;
		font-size: 14px;
		color: #515150;
	}
}